<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zapatatech.santabiblia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bible_basic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.zapatatech.santabiblia.SignUp"
            android:configChanges="locale|layoutDirection"
            android:parentActivityName="com.zapatatech.santabiblia.Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zapatatech.santabiblia.Login" />
        </activity>
        <activity android:name="com.zapatatech.santabiblia.Login"
            android:configChanges="locale|layoutDirection"/>
        <activity
            android:name="com.zapatatech.santabiblia.Home"
            android:configChanges="locale|layoutDirection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.zapatatech.santabiblia.Maps"
            android:configChanges="locale|layoutDirection"
            android:label="Maps"
            android:parentActivityName="com.zapatatech.santabiblia.Search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zapatatech.santabiblia.Search" />
        </activity>
        <activity
            android:name="com.zapatatech.santabiblia.BibleCompare"
            android:configChanges="locale|layoutDirection"
            android:parentActivityName="com.zapatatech.santabiblia.Bible"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zapatatech.santabiblia.Bible" />
        </activity>
        <activity
            android:name="com.zapatatech.santabiblia.SearchSpecific"
            android:configChanges="locale|layoutDirection"
            android:parentActivityName="com.zapatatech.santabiblia.Search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zapatatech.santabiblia.Search" />
        </activity>
        <activity
            android:name="com.zapatatech.santabiblia.Settings"
            android:configChanges="locale|layoutDirection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.zapatatech.santabiblia.LanguageChangeLoader"
            android:configChanges="locale|layoutDirection"
            android:label="@string/title_activity_language_change_loader"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.zapatatech.santabiblia.Dashboard"
            android:configChanges="locale|layoutDirection"
            android:label="@string/dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.zapatatech.santabiblia.Bible"
            android:configChanges="locale|layoutDirection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.zapatatech.santabiblia.Search"
            android:configChanges="locale|layoutDirection"
            android:label="@string/search" />
        <activity
            android:name="com.zapatatech.santabiblia.MainActivity"
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>